.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image:
    url("../../img/text-index.svg"),
    url("../../img/intro-triangle.svg"),
    url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 282px 214px, 100% 57px, 100% 389px;
  background-position: center 90px, 50% 332px, 50% 0;
  // min-height: 631px;
  margin: 0 auto;
}

.description__title {
  padding-top: 421px;
  max-width: 285px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: @black;
}

.description__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  max-width: 285px;
  margin: 0 auto;
  text-align: center;
  padding: 26px 0 0;
}
