.page {
  max-width: 320px;
  margin: 0;
  padding: 0;
  // overflow: hidden;
  min-height: 100%;
  display: flex;
}

.page__body {
  background: @white;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @text;
  margin: 0;
  width: 100%;
  // overflow: hidden;
}
