.review__wrapper {
  margin: 48px auto 28px;
}

.review__title {
  text-transform: none;
  margin-bottom: 29px;
}

.review__text {
  text-transform: none;
  line-height: 24px;
  width: 100%;
  max-width: 306px;
}

.review__form {
  display: grid;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.review__button {
  font-weight: bolder;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 18px 34px 14px 31px;
}
