.title {
  color: @black;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin: 0 0 29px;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .title {
    font-size: 21px;
    // max-width: 520px;
  }
}
