.video__container {
  margin: 0 auto 49px;
  max-width: 800px;
}

.video__title {
  text-transform: none;
  max-width: 445px;
  margin: 0 auto 26px;
}

.video__text {
  line-height: 24px;
  max-width: 445px;
  text-align: center;
  margin: 0 auto 33px;
}

@media (min-width: @tablet-width) {
  .video__title {
    text-transform: uppercase;
  }

  .video__container {
    margin-bottom: 40px;
  }
}

@media (min-width: @desktop-width) {
  .video__container {
    margin-bottom: 85px;
  }
}
