@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  font-family: "PT Sans", sans-serif;
  padding: 15px 47px 16px;
  background-color: #81b3d2;
  color: #ffffff;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  border: none;
}
.link {
  text-decoration: none;
  color: #000000;
}
.page {
  max-width: 320px;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
}
.page__body {
  background: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  width: 100%;
}
.page-header {
  position: relative;
  z-index: 5;
}
.page-header__logo {
  position: absolute;
  width: 102px;
  height: 84px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.main-nav {
  position: relative;
  width: 100%;
  height: 56px;
}
.main-nav__toggle {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 17px;
  right: 16px;
  background-color: transparent;
  background-image: url("../img/icon/icon-menu.svg");
  background-size: 23px 22px;
  z-index: 2;
  border: none;
}
.page-main {
  width: 100%;
}
.intro {
  background-image: url("../img/text-index.svg"), url("../img/intro-triangle.svg"), url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 282px 214px, 100% 57px, auto 389px;
  background-position: center center, center bottom, center top;
  min-height: 389px;
}
.intro_page_catalog {
  background-image: url("../img/sedona.svg"), url("../img/intro-triangle.svg"), url("../img/back-desktop.jpg");
  background-size: 229px 39px, 100% 57px, auto;
  background-position: center, center bottom, center bottom;
  min-height: 158px;
}
.site-list {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.site-list::after {
  position: absolute;
  bottom: 0;
  content: "";
  height: 7px;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
.site-list__item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.site-list__item:not(:last-child)::after {
  position: absolute;
  content: "";
  bottom: 1px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
  width: 100%;
  height: 1px;
  z-index: 1;
}
.site-list__item:not(:first-child)::before {
  position: absolute;
  content: "";
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 1px;
  top: 1px;
  z-index: 1;
}
.site-list__link {
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  padding-top: 10px;
  padding-bottom: 6px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}
.title {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin: 0 auto;
  text-align: center;
  max-width: 285px;
}
.text {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  max-width: 285px;
  margin: 0 auto;
  text-align: center;
}
.comparison {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comparison__wrapper {
  position: relative;
  width: 100%;
}
.comparison__wrapper::after {
  content: "";
  position: absolute;
  bottom: -22px;
  left: 0;
  width: 320px;
  height: 37px;
  background: url("../img/white_copy2.svg") bottom / cover;
  z-index: 5;
}
.comparison__title {
  margin: 32px auto 27px;
}
.comparison__text {
  margin-bottom: 27px;
}
.comparison__list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
.comparison__item {
  counter-increment: list-counter;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #eeeeee;
}
.comparison__item-title::after {
  display: flex;
  content: "— №" counter(list-counter) " —";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  justify-content: center;
  padding-top: 10px;
}
.comparison__item:nth-child(n+3)::before {
  position: absolute;
  content: "";
  width: 87%;
  height: 1px;
  background-color: #d6d6d6;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.comparison__item_accent {
  background-color: #81b3d2;
  color: #ffffff;
}
.comparison__item_accent:nth-child(1) .comparison__item-title_accent {
  padding-top: 55px;
}
.comparison__item_accent:nth-child(1) .comparison__item-description_accent {
  padding-bottom: 39px;
}
.comparison__item_accent:nth-child(2) .comparison__item-title_accent {
  padding-top: 39px;
}
.comparison__item_accent:nth-child(2) .comparison__item-description_accent {
  padding-bottom: 35px;
}
.comparison__item-title {
  padding-top: 25px;
  padding-bottom: 15px;
  margin: 0 auto;
  text-align: center;
}
.comparison__item-img {
  width: 320px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}
.comparison__item-description {
  text-align: center;
  margin: 0;
  padding-bottom: 24px;
  color: inherit;
}
.comparison__item-title_accent {
  color: #ffffff;
}
.comparison__item-description_accent {
  color: #ffffff;
  background-color: #81b3d2;
}
.recommendation {
  color: #333333;
}
.recommendation__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 35px 0 35px 69px;
  background-color: #ffffff;
}
.recommendation__item {
  margin-bottom: 26px;
  position: relative;
}
.recommendation__item:last-child {
  margin-bottom: 0;
}
.recommendation__item_icon_hous::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: -49px;
  width: 40px;
  height: 35px;
  background-image: url("../img/icon/icon-house.svg");
  background-size: 40px 35px;
}
.recommendation__item_icon_gift ::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: -49px;
  width: 40px;
  height: 35px;
  background-image: url("../img/icon/icon-gift.svg");
  background-size: 40px 35px;
}
.recommendation__item_icon_meal::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: -49px;
  width: 40px;
  height: 35px;
  background-image: url("../img/icon/icon-burger.svg");
  background-size: 40px 35px;
}
.recommendation__item-title {
  margin-bottom: 15px;
  text-align: start;
}
.recommendation__item-description {
  margin: 0;
  padding: 0;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 49px;
}
.search__title {
  padding: 33px 0 18px;
  font-size: 21px;
}
.search__description {
  text-align: center;
  padding: 0;
  margin: 0 0 27px;
  line-height: 24px;
}
.map__card {
  border: none;
  background-image: url("../img/map-mobile.jpg.png");
  width: 320px;
  height: 350px;
  margin-bottom: 10px;
}
.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-footer__hashtag {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 34px;
  margin-top: 28px;
}
.copyright {
  margin: 0;
}
.copyright__link {
  display: flex;
  margin: 40px 0 23px;
  align-items: center;
  gap: 12px;
}
.copyright__text {
  padding: 0;
  margin: 0;
}
.copyright__img {
  width: 27px;
  height: 34px;
}
.social {
  margin: 0;
}
.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 6px;
}
.social__button {
  display: block;
  width: 46px;
  height: 48px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 50%;
}
.social__button_var_twitter {
  background-image: url("../img/icon/icon-twitter.svg");
}
.social__var_button_fb {
  background-image: url("../img/icon/icon-facebook.svg");
}
.social__var_button_youtube {
  background-image: url("../img/icon/icon-youtube.svg");
}
.foto__wrapper {
  margin: 24px auto 12px;
  min-height: 153px;
}
.foto__title {
  margin-bottom: 26px;
}
.foto__text {
  line-height: 24px;
}
.foto__list {
  list-style: none;
  padding: 0;
  margin: 0 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foto__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 22px 0 15px;
}
.foto__item:first-child::before {
  position: absolute;
  content: "";
  width: 320px;
  height: 1px;
  background-color: #e5e5e5;
  left: -20px;
  top: 0;
}
.foto__item::after {
  position: absolute;
  content: "";
  width: 320px;
  height: 1px;
  background-color: #e5e5e5;
  left: -20px;
  bottom: 0;
}
.foto__item-img {
  margin-bottom: 11px;
}
.foto__item-title {
  text-align: start;
  font-size: 14px;
  line-height: 24px;
  order: 1;
  margin: 0;
}
.foto__item-autor {
  text-transform: none;
  line-height: 24px;
  order: 2;
  margin: 0 0 13px 0;
}
.foto__item-like {
  position: relative;
  order: 3;
  font-weight: bold;
  line-height: 24px;
  padding-left: 37px;
}
.foto__item-like::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 21px;
  background-image: url("../img/icon/like-icon.svg");
  background-size: 23px 21px;
  background-repeat: no-repeat;
  top: -3px;
  left: 0;
}
.video {
  margin-bottom: 49px;
}
.video__title {
  text-transform: none;
  margin-bottom: 26px;
}
.video__text {
  line-height: 24px;
  max-width: 266px;
  text-align: center;
  margin: 0 auto 33px;
}
.review__wrapper {
  margin: 48px auto 28px;
}
.review__title {
  text-transform: none;
  margin-bottom: 29px;
}
.review__text {
  text-transform: none;
  line-height: 24px;
  width: 100%;
  max-width: 306px;
}
.review__form {
  display: grid;
  width: calc(100% - 40px);
  margin: 0 auto;
}
.review__button {
  font-weight: bolder;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 18px 34px 14px 31px;
}
.fieldset {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}
.fieldset::before {
  position: absolute;
  content: "";
  width: 320px;
  height: 1px;
  background-color: #e5e5e5;
  left: -20px;
  top: -65px;
}
.label {
  line-height: 26px;
  margin-right: 13px;
}
.input {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  padding: 18px 22px 14px;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
}
.input::-moz-placeholder {
  color: #000000;
  opacity: 1;
}
.input::placeholder {
  color: #000000;
  opacity: 1;
}
.appears {
  margin: 20px 0 25px;
}
.appears__title {
  text-transform: none;
  margin-bottom: 19px;
  padding: 0;
}
.appears__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.appears__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.appears__item:last-child {
  margin-bottom: 0;
}
.appears__input {
  width: 100%;
}
.contacts {
  padding: 20px 0 28px;
}
.contacts__title {
  margin-bottom: 17px;
}
.contacts__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contacts__input {
  width: 100%;
}
.contacts__label {
  padding-left: 22px;
  margin: 0;
}
.impression {
  margin: 20px 0 31px;
}
.impression__title {
  margin-bottom: 25px;
}
.impression__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: none;
  font-weight: 700;
  font-size: 18px;
}
.impression__item {
  margin-bottom: 21px;
}
.impression__item:last-of-type {
  margin-bottom: 0;
}
.attractions {
  max-width: 15px 0 30px;
}
.attractions__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: none;
  font-weight: 700;
  font-size: 18px;
}
.attractions__item {
  margin-bottom: 34px;
}
.attractions__item:last-of-type {
  margin-bottom: 0;
}
.review-text {
  margin: 20px 0 51px;
  display: flex;
  flex-direction: column;
}
.review-text__title {
  text-align: center;
  margin-bottom: 15px;
}
.review-text__text {
  height: 118px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  padding: 13px 23px 29px 21px;
  border: none;
}

/*# sourceMappingURL=style.css.map */
